.hospitals {
  height: 100vh;
  background-color: #fcfdfe;
  overflow-x: hidden;
  background-color: #fcfdfe;
}
.hospitalsBottom > iframe {
  width: 100%;
  height: 100vh !important;
}
.hospitalsTop {
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 100%;
  position: sticky;
  text-decoration: none !important;
  color: rgb(32, 32, 32);
}
.hospitalsTop > h1 {
  width: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}
.logo {
  background-image: url("./assets/syringe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

@media only screen and (max-width: 500px) {
  .hospitals {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fcfdfe;
    overflow-y: hidden;
  }

  .hospitalsTop {
    border-bottom: 1px solid rgb(224, 224, 224);
    border-right: none;
    height: 10vh;
    width: 100%;
    flex: 0.01;
    font-family: "Poppins", sans-serif;
  }
  .hospitalsBottom {
    width: 100% !important;
    flex: 0.99;
  }
  .hospitalsBottom > iframe {
    width: 100% !important;
  }
  .hospitalsBottom > iframe::-webkit-scrollbar {
    width: 5px !important;
  }

  /* Track */
  .hospitalsBottom > iframe::-webkit-scrollbar-track {
    background: #f1f1f100 !important;
  }

  /* Handle */
  .hospitalsBottom > iframe::-webkit-scrollbar-thumb {
    background: rgb(48, 46, 46) !important;
    border-radius: 50px !important;
  }

  /* Handle on hover */
  .hospitalsBottom > iframe::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
}
